.App {
  text-align: center;
}

.main-container {
  background-color: #282c34;
  /* background-color: #2F4858; */
  height: 100vh;
  width: 100vw;
}

.accordion-item button {
  padding: 0.3vh;
  color: "#eec262" !important;
}

.accordion {
  border-width: 0;
  --bs-accordion-border-radius: 0 !important;
  --bs-accordion-bg: #282c34 !important;
  --bs-accordion-color: rgba(255, 255, 255, 0.75) !important;
  --bs-accordion-border-color: #eec262 !important;
  --bs-accordion-btn-color: rgba(255, 255, 255, 0.75) !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn:hover {
  background-color: rgba(238, 194, 98, 0.75) !important;
}
.btn-primary {
  margin-top: 1.5vh;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: #eec262 !important;
}
.project-button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 0 15%;
}
/* --------------------------- NAVBAR START */
.navbar {
  padding: 5% 10% 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 3vmin);
  color: #eec262;
  border-bottom: 0.05rem solid;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar h2 {
  margin: 0;
  padding: 0;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* flex-row: column no-wrap; */
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 20%;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
  background-color: #eec262;
}
.burger1On {
  transform: rotate(45deg);
}
.burgerOff {
  transform: rotate(0);
}
.burger3On {
  transform: rotate(-45deg);
}
.burger2On {
  /* translateX: 100%; */
  opacity: 0;
}
/* -------------------------- NAVBAR END */

/* -------------------------- MOBILE MENU START */

.mobile-menu-container {
  visibility: hidden;
  margin: 0;
  padding: 5% 10% 5% 10%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -110vh;
  /* left: -100vw; */
  background-color: beige;

  background-color: #282c34;
}
.mobile-menu-slide-in {
  visibility: visible;
  transition: transform 0.3s ease-in;
  transform: translateY(110vh);
}
.mobile-menu-slide-out {
  visibility: hidden;
  transition: transform 0.5s ease-out, visibility 0.5s;
  transform: translateY(-110vh);
}
.mobile-menu-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: calc(10px + 3vmin);
  color: #eec262;
  width: 75%;
}
.mobile-menu-container ul li {
  margin: 0;
  padding: 0;
  padding: 5% 0 5% 0;
  list-style: none;
  font-size: calc(10px + 3vmin);
  color: #eec262;
}

.mobile-menu-container h2 {
  font-size: calc(10px + 3vmin);
  color: #eec262;
}

.mobile-menu-link {
  border-bottom: 0.1rem solid #eec262;
  /* color: #eec262; */
}
/* -------------------------- MOBILE MENU END */

/* -------------------------- PAGE CONTAINER START */
.page-container {
  border: 0.1rem solid #eec262;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto 0 auto;
}
.page-container h2 {
  color: rgba(255, 255, 255, 0.75);
  /* color: #eec262; */
  display: inline-block;
}
.content-spacing {
  padding: 0.5rem 0 0 0.5rem;
}
.img-name-spacing {
  display: flex;
  flex-direction: row;
}
.page-container ul {
  margin: 0;
  padding: 0;
}
.page-container ul li {
  list-style: none;
}
.page-container ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}
.page-container ul li a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  /* color: #eec262; */
}
.text-color {
  color: rgba(255, 255, 255, 0.75);
  /* color: #eec262; */
}
.font-family {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  letter-spacing: 0.11rem;
}
/* -------------------------- PAGE CONTAINER START */

/* -------------------------- PHOTO/IMG STYLES START */
.photo {
  width: 30vw;
  /* height: 30vh; */
}
.svg-size {
  width: 5vw;
}
/* -------------------------- PHOTO/IMG STYLES END */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
